* {
    margin: 0;
    padding: 0;
}

.headermanu {
    background: #ffffff;
    margin-top: 10px;
}

.headermanu ul {
    text-align: center;
}

.headermanu ul li {
    display: inline-block;
    margin-left: -4px;
    background: #3498db;
}

.headermanu ul li a {
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #ddd;
    transition: 0.5s;
    border-radius: 10px;
}

.headermanu ul li:hover>a {
    background: #044875;
    color: rgb(244, 250, 244);
}

.headermanu ul li {
    position: relative;
}

.headermanu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: #3498db;
    border-top: 1px solid #ddd;
    border-radius: 15px;
}

.headermanu ul li ul li {
    display: block;
    margin-left: 0;
}

.headermanu ul li ul li a {
    display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}

.headermanu ul ul li:first-child a {
    border-left: none;
}

.headermanu ul li ul {
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    transform-origin: top center;
}

.headermanu ul li:hover ul {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
}